@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.separator {
    border-color: #212529;
    margin: 16px 0px;
}

.container {
    height: 100%;
    display: flex;
    flex: 1;
    margin: 0;
    --bs-gutter-x: 0;
    overflow: hidden;
}

.aside {
    position: relative;
    width: 280px;
    background-color: #272829;
    color: white;
    padding: 16px;
}

.aside h1{
    padding: 10px;
    margin: 0px 0px 16px;
    font-size: 40px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #2a2b2c;
    height: 85px;
    text-decoration: none;
}

.header h1{
    color: white;
    font-size: 40px;
}

.header-icon{
    padding: 5px 0;
}

.li-title{
    font-size: 1.5em;
}

.main {
    display: flex;
    color: white;
    padding: 40px;
    flex: 1;
    background-color: #750f0f;   
    flex-direction: row;
}

.li-container {
    position: relative;
    text-align: start;
    background-color: #2a2b2c;
    width: 270px;
    height: 730px;
    border-radius: 0.8em;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 10px 5px 10px #1f1e1e;

}

.card {
    position: absolute;
    transition: box-shadow 0.2s ease;
    box-shadow: 10px 5px 5px 10px #1f1e1e;
    left: 50%;
    transform: translate(-50%);
    background-color: #555;
    border-radius: 0.5em;
    padding: 8px 16px;
    width: 250px;
    height: 100px;
}

.card:hover {
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.lmenu {
    list-style: none;
    padding: 15px;
    margin-bottom: 600px;
}

.menu-item{
    height: 40px;
}


.menu-link {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}

.menu-item:hover {
    background-color: #750f0f;
}


/*Estilos para el menu desplegable */

.menu-container {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.dropdown-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    text-align: center;
    border-radius: 0.3em;
    width: 160px;
    height: auto;
    position: absolute;
    background-color: #343a40;
    list-style-type: none;
    margin: 0;
    padding: 8px 0px;
    top: auto;
    bottom: 100%;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
}

.show {
    display: block;
}

.dropdown-button:hover {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #55585a;
}

/*estilos offcanvas*/

.offcanvas {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente oculto a la izquierda */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    transition: left 0.3s;
}

.close-button {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #555;
    text-align: center;
}

