@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Inconsolata:wght@300&family=Josefin+Sans&family=Montserrat:ital,wght@0,300;1,300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

.separator {
    border: none;
    border-top: 2px solid #535151;
    border-radius: 1em;
    height: 2px;
    margin: 12px 0px;
}

.container {
    height: 100%;
    display: flex;
    flex: 1;
    margin: 0;
    overflow: hidden;
}

.aside {
    position: relative;
    width: 240px;
    background-color: #272829;
    color: white;
    padding: 5px;
    margin: 0;

}

.aside h1{
    padding: 10px;
    margin: 0px 0px 16px;
    font-size: 40px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #2a2b2c;
    height: 65px;
    text-decoration: none;
}

.header h1{
    color: white;
    font-weight: lighter;
    font-size: 40px;
}

.header-icon{
    padding: 5px 0;
}

.li-title{
    font-size: 1.5em;
}

.main {
    display: flex;
    color: white;
    padding: 40px;
    flex: 1;
    background-color: #750f0f;   
    flex-direction: row;
}

.li-container {
    position: relative;
    text-align: start;
    background-color: #2a2b2c;
    width: 270px;
    height: 730px;
    border-radius: 0.8em;
    margin: 1.5px;
    margin-right: 30px;
    padding: 15px;
    overflow-y: scroll;
    box-shadow: 10px 5px 10px #1f1e1e;

}

.li-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.li-container::-webkit-scrollbar:vertical {
    width:10px;
}

.li-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.li-container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.li-container::-webkit-scrollbar-thumb {
    background-color: #494343;
    border-radius: 20px;
}

.li-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card {
    transition: box-shadow 0.2s ease;
    box-shadow: 10px 5px 10px 10px #1f1e1e;
    background-color: #555;
    border-radius: 0.5em;
    padding: 8px 16px;
    max-width: 100%;
    width: 230px;
    height: 100px;
    margin: 5px 0;
}

.card:hover {
    box-shadow: 20px 20px 20px  20px rgba(0, 0, 0, 0.3);
}

.bi.bi-three-dots {
    position: absolute;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.lmenu {
    list-style: none;
    padding: 15px;
    margin-bottom: 600px;
}

.menu-item{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 0.4em;
    margin: 10px 0;
}


.menu-link {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: block;
}

.menu-item:hover {
    background-color: #353131;
}


/*Estilos para el menu desplegable */

.menu-container {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.bi-person-circle {
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    text-align: center;
    border-radius: 0.3em;
    width: 160px;
    height: auto;
    position: absolute;
    background-color: #343a40;
    list-style-type: none;
    margin: 0;
    padding: 8px 0px;
    top: auto;
    bottom: 100%;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
}

.show {
    display: block;
}

.dropdown-button:hover {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #55585a;
}

/*estilos offcanvas*/

.offcanvas {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente oculto a la izquierda */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    transition: left 0.3s;
}

.close-button {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #555;
    text-align: center;
}

