@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    user-select: none;
}

.separator {
    border-top: 3px solid #ff7300;
    border-radius: 1em;
    height: 2px;
}

#root {
    height: 100%;
}

.container-fluid {
    display: flex;
    min-height: 100%;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #1d1d1b;
    height: 65px;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.header-icon {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}

.header h1{
    color: #e6e6e6;
    font-size: 35px;
    
    padding: 0;
}

.navbar-brand {
    display: flex;
}

.aside {
    color: #c0c0c0;
    width: 220px;
    background-color: #1d1d1b;
    font-family: lighter,'Montserrat', sans-serif;
}  

.aside-footer {
    background-color: #292929;
    height: 90px;
}

.lmenu {
    list-style: none;
}

.menu-item{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    align-content: flex-start;
}

.menu-link {
    text-decoration: none;
    color: #c0c0c0;
    padding: 8px 16px;
}

.menu-item:hover {
    color: #ff7300;
}

.menu-link:hover {
    color: #ff7300;
}

.aside h1{
    padding: 10px;
    margin: 0px 0px 16px;
    font-size: 40px;
    font-weight: lighter;
}

.li-title{
    font-size: 1.5em;
    font-weight: 900;
}
.pcards-content {
    display: flex;
    flex-direction: row;
    height: 830px;
}

.li-container {
    text-align: flex-start;
    background-color: #1d1d1b;
    width: 280px;
    border-radius: 1em;
    margin: 1.5px;
    margin-right: 30px;
    padding: 15px;
    box-shadow: inset 0.5 0.5em 1.5em rgba(0, 0, 0, .1),inset 0 5.125em 0.5em rgba(0, 0, 0, .15);
}

.pcards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pcard {
    transition: box-shadow 0.2s ease;
    background-color: #2e2e2e;
    color: #ff7300;
    padding: 10px;
    border-radius: 0.5em;
    max-width: 100%;
    font-size: 19px;
    width: 260px;
    height: 85px;
    margin: 10px 0;
    cursor: grab;
    border: 1px solid #494949;
}

.more {
    background-color: #2e2e2e;
    width:100%;
    font-size: 16px;
    color: wheat;
    padding-right: 10px;
    border-radius: 0 0 0.5em 0.5em;
    border-top: 0.1px solid #494949;
    display: flex;
    cursor: pointer;
}

.edit-link {
    text-decoration: none;
    color: white;
}

.edit-link:hover {
    color: rgb(122, 122, 122);
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #494343;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}




.li-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.li-container::-webkit-scrollbar:vertical {
    width:10px;
}

.li-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.li-container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.li-container::-webkit-scrollbar-thumb {
    background-color: #494343;
    border-radius: 20px;
}

.li-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.pcard:hover {
    box-shadow: 5px 7px 26px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 7px 26px 5px rgba(0,0,0,1);
    -moz-box-shadow: 5px 7px 26px 5px rgba(0,0,0,1);
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1),
                inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

.main {
    display: flex;
    flex: 1;
    color: #d8d8d8;
    padding: 40px;
    background-color:#888888;
    
}

.bi-box-arrow-right {
    padding-right: 30px;
    padding-left: 30px;
    font-size: x-large;
    cursor: pointer;
}

.bi-thrash {
    cursor: pointer;
}

.edit-card{
    width: 500px;
    height: 700px;
    border-radius: 0.5em;
    background-color: #1d1d1b;
    box-shadow: 5px 1px 5px #1f1e1e;
}

.bmenu {
    display: flex;
}

.bmenu-item{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.bmenu-link {
    padding-left: 16px;
}

.bmenu-item:hover{
    color: #ff7300;
}


.menu-container {
    margin-top: 616px;
}