.custom-body {
  display: flex;
  height: 100vh;
  background: #919191;
  font-family: 'Montserrat', sans-serif;
}

.log-container {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1b;
  color: white;
  height: 100vh;
}

.log-form{
  display: flex;
  padding: 40px;
  width: 400px;
  flex-direction: column;
}

.log-title {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}

.log-start{
  text-align: center;
  padding-right: 150px;
  padding-top: 60px;

}

.log-body {
  display: flex;
  width: 100%;
  justify-content: center;

}

.log-subtitle {
  font-weight: 700;
}