.log-body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #4F4A45; 
}

.log-container {
  display: flex;
  flex-direction: column;
  background-color: #2a2c2e;
  color: white;
  padding: 20px;
  width: 800px;
  height: 100vh;
}

.log-form{
  display: flex;
  margin: 30px;
  flex-direction: column;
}