/* Estilo para el contenedor principal */
.container-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo */
  }
  
  /* Estilo para el formulario de registro */
  .register-form {
    background-color: #fff; /* Fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px;
  }
  
  /* Estilo para los campos de entrada */
  .reg-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilo para el botón de registro */
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilo para el botón de registro al pasar el ratón por encima */
  .register-form button:hover {
    background-color: #219150; /* Cambiar el color de fondo al pasar el ratón por encima */
  }
  